---
- name: Deploy Infra Components for Cloud-Native Labs at Red Hat Summit 2018
  hosts: localhost
  gather_facts: true
  run_once: true
  vars:
    lab_infra_project: lab-infra
    user_openshift: developer
    user_gogs_admin: gogs
    user_gogs_user: developer
    user_gogs_password: openshift
    openshift_cli: oc
    github_account: openshift-labs
    github_ref: master
    project_suffix: 
    guid: repl
    apps_hostname_suffix: apps-{{ guid }}.generic.opentlc.com
    master_hostname: master-{{ guid }}.generic.opentlc.com
  tasks:
    - name: download istiooc
      get_url:
        url: "https://github.com/openshift-istio/origin/releases/download/istio-3.9-0.7.1-alpha8/istiooc_linux"
        dest: "/usr/local/sbin/oc"
        mode: ugo+rx
        force: true

    - name: start openshift cluster
      shell: "{{ openshift_cli }} cluster up --public-hostname={{ master_hostname }} --routing-suffix={{ apps_hostname_suffix }} --istio </dev/null >/dev/null 2>&1 &"

    - name: log into the cluster
      shell: "{{ openshift_cli }} login {{ master_hostname }}:8443 -u system:admin"
      ignore_errors: true
      register: oc_login_result
      until: oc_login_result|succeeded
      retry: 30
      delay: 30

    - name: fix hostpath persistent volume permissions
      file:
        path: /var/lib/origin/openshift.local.pv
        mode: 0777
        recurse: true
      ignore_errors: true

    - name: prepare openshift cluster
      shell: |
        {{ openshift_cli }} delete project myproject
        {{ openshift_cli }} apply -f https://raw.githubusercontent.com/openshift/openshift-ansible/release-3.9/roles/openshift_examples/files/examples/v3.9/image-streams/image-streams-centos7.json -n openshift
        {{ openshift_cli }} create -f https://raw.githubusercontent.com/jboss-openshift/application-templates/ose-v1.4.12/openjdk/openjdk18-image-stream.json -n openshift
        {{ openshift_cli }} adm policy add-cluster-role-to-user cluster-admin admin
        {{ openshift_cli }} adm policy add-scc-to-user anyuid -z istio-ingress-service-account -n istio-system
      ignore_errors: true

    - set_fact:
        gogs_hostname: gogs-{{ lab_infra_project }}.{{ apps_hostname_suffix }}
      tags: always

    - name: create lab infra project
      shell: "{{ openshift_cli }} new-project {{ lab_infra_project }}"
      ignore_errors: true
      tags: always

    # deploy nexus
    - import_role:
        name: openshift_sonatype_nexus
      vars:
        project_name: "{{ lab_infra_project }}"
        nexus_image_version: 3.10.0
        nexus_max_memory: 6Gi
      tags: nexus

    # deploy gogs
    - include_tasks: init_gogs.yml
      tags: gogs

    # deploy guides
    - import_role:
        name: openshift_workshopper
      vars:
        project_name: "{{ lab_infra_project }}"
        workshopper_content_url_prefix: "https://raw.githubusercontent.com/openshift-labs/rhsummit18-cloudnative-guides/master"
        workshopper_workshop_urls: "https://raw.githubusercontent.com/openshift-labs/rhsummit18-cloudnative-guides/master/_rhsummit18.yml"
        workshopper_env_vars:
          PROJECT_SUFFIX: ""
          OPENSHIFT_MASTER_URL: "https://{{ master_hostname }}:8443"
          APPS_HOSTNAME_SUFFIX: "{{ apps_hostname_suffix }}"
          GIT_HOSTNAME: "gogs-{{ lab_infra_project }}.{{ apps_hostname_suffix }}"
          ECLIPSE_CHE_URL: "http://che-{{ lab_infra_project }}.{{ apps_hostname_suffix }}"
          NEXUS_EXTERNAL_URL: "http://nexus-{{ lab_infra_project }}.{{ apps_hostname_suffix }}"
          GRAFANA_URL: "http://grafana-istio-system.{{ apps_hostname_suffix }}"
          JAEGER_URL: "http://jaeger-query-istio-system.{{ apps_hostname_suffix }}"
          PROMETHEUS_URL: "http://prometheus-istio-system.{{ apps_hostname_suffix }}"
      tags: guides

    # deploy eclipse che
    - import_role:
        name: openshift_eclipse_che
      vars:
        project_name: "{{ lab_infra_project }}"
        che_version: "6.4.1"
        #che_version: "latest"
        route_suffix: "{{ apps_hostname_suffix }}"
      tags: eclipse-che

    - name: wait for eclipse che to be running
      uri:
        url: http://che-{{ lab_infra_project }}.{{ apps_hostname_suffix }}/api/
        status_code: 200
      register: result
      until: result.status == 200
      retries: "30"
      delay: "60"
      tags: eclipse-che

    - name: create custom stack for jdk and openshift cli
      uri:
        url: http://che-{{ lab_infra_project }}.{{ apps_hostname_suffix }}/api/stack
        method: POST
        body: "{{ lookup('file','files/che-stack.json') }}"
        body_format: json
        status_code: 200,201
      tags: eclipse-che

    # create prod
    - name: create prod project
      shell: |
        {{ openshift_cli }} adm new-project prod{{ project_suffix }} --display-name='CoolStore PROD' --admin='{{ user_openshift }}'
        {{ openshift_cli }} adm policy add-scc-to-user privileged -z default -n prod{{ project_suffix }}
        {{ openshift_cli }} adm policy add-scc-to-user anyuid -z default prod{{ project_suffix }}
        {{ openshift_cli }} adm policy add-role-to-user admin system:serviceaccount:prod{{ project_suffix }}:default -n prod{{ project_suffix }}
      tags: prod

    - set_fact:
        templates_base_url: https://raw.githubusercontent.com/{{ github_account }}/rhsummit18-cloudnative-labs/{{ github_ref }}/openshift
      tags: prod

    - name: deploy web in prod
      shell: "{{ openshift_cli }} process -f {{ templates_base_url }}/web-template.yml --param=IMAGE_VERSION=prod -n prod{{ project_suffix }} | {{ openshift_cli }} create -f - -n prod{{ project_suffix }}"
      tags: prod

    - name: deploy inventory in prod
      shell: "{{ openshift_cli }} process -f {{ templates_base_url }}/inventory-template.yml --param=IMAGE_VERSION=prod -n prod{{ project_suffix }} | {{ openshift_cli }} create -f - -n prod{{ project_suffix }}"
      tags: prod

    - name: deploy catalog in prod
      shell: "{{ openshift_cli }} process -f {{ templates_base_url }}/catalog-template.yml --param=IMAGE_VERSION=prod -n prod{{ project_suffix }} | {{ openshift_cli }} create -f - -n prod{{ project_suffix }}"
      tags: prod

    - name: add jaeger tracing to the catalog in prod
      shell: |
        {{ openshift_cli }} env -n prod{{ project_suffix }} dc/catalog JAEGER_SERVICE_NAME=catalog \
              JAEGER_ENDPOINT=http://jaeger-collector.istio-system.svc:14267/api/traces \
              JAEGER_PROPAGATION=b3 \
              JAEGER_SAMPLER_TYPE=const \
              JAEGER_SAMPLER_PARAM=1
      tags: prod

    - name: create istio ingress
      shell: "{{ openshift_cli }} create -f files/ingress.yml -n prod{{ project_suffix }}"
      ignore_errors: true
      tags: prod

    # populate nexus
    - name: populate nexus
      shell: |
        {{ openshift_cli }} create imagestream catalog -n prod{{ project_suffix }}
        {{ openshift_cli }} adm policy add-role-to-user system:image-builder system:serviceaccount:{{ lab_infra_project }}:builder -n prod{{ project_suffix }}
        {{ openshift_cli }} process -f files/catalog-build-template.yml --param=GIT_URI=http://{{ gogs_hostname }}/{{ user_gogs_user }}/catalog.git --param=PUSH_NAMESPACE=prod{{ project_suffix }} -n {{ lab_infra_project }} | {{ openshift_cli }} create -f - -n {{ lab_infra_project }}
        {{ openshift_cli }} start-build catalog -n {{ lab_infra_project }}
      ignore_errors: true
      tags: populate-nexus
    
    # Populate inventory-dev template
    - name: Install the inventory-dev template
      include_tasks: init_template.yml
      vars:
        template_url: https://raw.githubusercontent.com/openshift-labs/rhsummit18-cloudnative-labs/master/openshift/inventory-dev-template.yml



